@import url(../utils/colors.css);

.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--headerfooterbckg);
    padding: 10px 20px;
}
  
.group-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--grey);
    text-align: right;
}
  