:root {
    --black: #171717;
    --grey: #333;
    --white: #ffffff;
    --greybckg: #f0f0f0;
    --blue: #0070f3;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--greybckg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  .nav-links a:hover {
    color: var(--blue);
  }