@import url(../utils/colors.css);


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--headerfooterbckg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .logo h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text);
  }
  
  .nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  .nav-links a:hover {
    color: var(--text-hover);
  }