:root {
    --black: #171717;
    --grey: #333;
    --white: #ffffff;
}

.bouncing-title-container {
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: var(--grey);
    background-color: var(--white);
}


  