@import url(../utils/colors.css);

.bouncing-title-container {
    font-size: 8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: var(--black);
    background-color: var(--background);
    margin-top: 30vh;
}


  