@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text: #171717;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 40px 0;
    color: var(--text);
}

.two-sides-container{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 80vh;
}

.left-side{
    width: 50%;
    padding: 20px;
    margin-left: 5vw;
}

.right-side{
    width: 50%;
    padding: 20px;
}