:root{
    --background : #FFFFFF;
    --headerfooterbckg : #FFFFFF;
    --blue : #0070f3;
    --text : #171717;
    --text-hover : #333;
    --black: #171717;
    --grey: #333;
    --grey2: #DDD;
    --white: #ffffff;
    --placeholder: #999;
    --greybckg: #F0F0F0;
}